:root {
  --primary-color: #212529;
  --second-color: #515d66;
  --thirty-color: #8d979e;
  --fourty-color: #2b38d1;
  --fifty-color: #dc323c;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--primary-color);
  font-size: 14px;
}




